<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="has-header">



    <ion-list-header color="light">About</ion-list-header>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>COVID-19 tracker data is provided by</ion-card-subtitle>
            <ion-card-title> <a href="https://rapidapi.com/Gramzivi/api/covid-19-data/endpoints">rapidapi.com/Gramzivi</a>
            </ion-card-title>


        </ion-card-header>
        <ion-card-content>


            <ion-list>
                <ion-item>
                    <ion-button color="danger">This app is for testing purposes only</ion-button>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>



</ion-content>